.contact-section{
    display: flex;
    flex-direction: column;
    width: 800px;
    h3{
        font-size: 2.7rem;
        background: linear-gradient(90deg,#ffffffde,#12e9ed);
            text-shadow: none;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
        animation: animation 1s  ease-in;
        padding: 4px;
        align-items: center;
        display: flex;
        gap: 4px;
    }
    img{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    .info a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 18px;
        border: 1px solid rgba(82, 82, 81, 0.302);
        background: transparent;
        backdrop-filter: blur(140px);
        .icon{
            color: rgb(89, 179, 132);
            position: relative;
            top: 3px;
            left: 10px;
        }
        &&:active{
            border:2px solid rgb(243, 117, 117);
        }
    }
    .info a:hover{
        background-color: rgba(30, 30, 30, 0.649);
        border: 2px solid rgba(82, 82, 81, 0.302);
    }
    .card-text{
        max-width: 670px; /* Establece un ancho máximo para el contenedor */
        border: 1px solid rgba(82, 82, 81, 0.302);
        border-radius: 12px;
        background: transparent;
        backdrop-filter: blur(140px);
        height: fit-content;
        display: flex;
        padding: 15px; /* Incrementa el padding si es necesario */
        margin: 15px;
        p{
            font-size: 20px;
            .stack{
                color: rgb(249, 243, 151);
            }
            .strong-point{
                color: rgba(255, 255, 255, 0.786);
            }
            p{
                color: rgb(249, 243, 151);
            }
        }
    }
}
.notification {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #20202076;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(121, 121, 121, 0.749);
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
    z-index: 9999;
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
    .icon_push{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: rgb(151, 249, 210);
    }
    .turn_back{
        transition: all 0.3s ease-in;
        cursor: pointer;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        scroll-behavior: smooth;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 95%;
        top: 400px;
        /*ANIMATION SECTION */
        animation: turnUpNotification 2s ease-in ;
        &:hover{
            background-color: rgba(151, 151, 151, 0.839);
        }
        &:active{
            scale:0.8;
        }
    }
    @keyframes turnUpNotification{
        from{
            opacity: 0;
            transform: translateX(-170%);
        }
        to{
            opacity: 1;
            transform: translateX(100%);
        }
    }
    @media only screen and (max-width:760px){
        .contact-section{
            width: 100%;
            display: flex;
            position: relative;
            left: -5%;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 2.7rem;
                text-align: center;
                position: relative;
                left: -5%;
            }
            .info{
               display: flex;
               flex-direction: column;
               align-items: center;
            }    
            .info a{
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                border-radius: 35px;
            }
            .card-text{
                width: 90%;
                padding: 10px;
                p{
                    font-size: 1rem;
                }
            }
        }
        .notification {
            display: flex;
            align-items: center;
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #000000;
            color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(121, 121, 121, 0.749);
            opacity: 0;
            transform: translateY(20px);
            animation: slideIn 0.5s forwards;
            z-index: 9999;
            width: fit-content;
            text-align: center;
            font-size: 1.5rem;

          }
    }
    @media only screen and (max-width:480px){
        .contact-section{
            width: 100%;
            display: flex;
            position: relative;
            .card-text{
                width: 80%;
                position: relative;
                left: 40px;
            }
            .info{
                position: relative;
                left: 30px;
                a{
                    color: rgb(243, 117, 117);
                }
            }
        }
    }