.contact-section{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 2.5rem;
        background: linear-gradient(90deg,#ffffffde,#12e9ed);
            text-shadow: none;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        animation: animation 1s  ease-in;
        padding: 4px;
        align-items: center;
        display: flex;
        gap: 4px;
    }
    img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .info a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in;
        margin: 0.5rem;
        cursor: pointer;
        border-radius: 18px;
        border: 1px solid rgba(82, 82, 81, 0.302);
        background: transparent;
        backdrop-filter: blur(140px);
        .icon{
            color: rgb(243, 117, 117);
            position: relative;
            top: 3px;
        }
        &&:active{
            border:2px solid rgb(243, 117, 117);
        }
    }
    .info a:hover{
        background-color: rgba(30, 30, 30, 0.649);
        border: 2px solid rgba(82, 82, 81, 0.302);
    }
    .card-text{
        max-width: 600px; /* Establece un ancho máximo para el contenedor */
        border: 1px solid rgba(82, 82, 81, 0.302);
        border-radius: 12px;
        background: transparent;
        backdrop-filter: blur(140px);
        height: fit-content;
        display: flex;
        padding: 15px; /* Incrementa el padding si es necesario */
        margin: 15px;
        p{
            font-size: 17px;
            .stack{
                color: rgb(249, 243, 151);
            }
            .strong-point{
                color: rgba(255, 255, 255, 0.786);
            }
            em{
                color: rgb(249, 243, 151);
            }
        }
    }
}
