.header-section{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
  }
  .index-section{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in;
    margin: 0.5rem;
    cursor: pointer;
    margin-top: 0px;
    border-bottom: 0px solid transparent;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .index-section:hover{
    color: rgb(247, 211, 128);
  }
  .btn-dark-lgith-theme{
    background-color: transparent;
    border: 0px;
    &:hover{
        cursor: pointer;
        color: rgb(247, 211, 128);
    }
  }
  #btn_theme{
    background-color: transparent;
    border: 0px;
    &:hover{
        cursor: pointer;
        color: rgb(247, 211, 128);
    }
  }