
.card-container{
    padding: 15px;
    border-radius: 12px;
    margin: 0px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    font-weight: bold;
    &&:hover{
        transform: translateY(-12px);
        box-shadow: 0 10px 20px rgb(0, 0, 0);
        text-transform:uppercase;
    }
    .titles-skills{
        color: #64ebed;
        font-size: 2rem;
        margin: 0px;
    }
    .card-skills{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 1rem;
            transition: all 0.2s ease-in;
            cursor: pointer;
        }
    }
    /*ANIMATIONS*/
    animation: Appear 1.1s ease-in;
}
/*Animation for make the card appear while the user scroll the page*/
@keyframes Appear {
    from{
        opacity: 0;
        transform: translateY(80px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}