:root {
  font-family: 'Cascadia Code';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse 80% 80% at 50% -10%, rgb(52, 58, 105), rgba(1, 3, 19, 0.648));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
/*background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%);*/
:root::-webkit-scrollbar{
  width: 8px;
  background-color: rgb(82, 82, 82);
}
:root::-webkit-scrollbar-thumb{
  background-color: rgb(249, 181, 133);
  width: 5px;
  border-radius: 15px;
}



