:root {
  font-family: 'Monolisa';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(61, 22, 132, 0.3), rgba(255, 255, 255, 0))no-repeat ;
}






